  
header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  justify-content: center;
  align-items: center;
  background: lightblue;
  text-decoration: none;
} 

h1 {
  font-size: 2rem;
  display: grid;
  justify-content: center;
  font-weight: bold;
  width: 100vw;
  color: lightcoral;
  box-shadow: 2px 2px 10px 2px;
}

input {
    padding: 10px;
    grid-column-start: 1;
    margin: 5px;

}